.activity-panel {
    .Picture img{
        margin-right: 1em;
    }
    .act_name {
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .act_desc{
        font-size: 1em;
    }
}